.featured-title {
    color: white;
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    position: relative;
    font-weight: 600;
    left: 0;
    top: -20px;
}

.experiences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    /* Adjust the gap between items as needed */
}

.experience {
    flex: 1 1 calc(50% - 20px);
    /* Two items per row with gap */
    box-sizing: border-box;
    /* Ensure padding and border are included in the width and height */
}

@media only screen and (min-width: 550px) {
    .experiences {
        gap: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .experiences {
        gap: 0px;
    }
}