.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    color: white;
    /* animation: scroll-right 2s linear infinite; */
}

.item {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
}

/* @keyframes scroll-right {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0);
    }
} */