:root {
    background-color: var(--black);
}

* {
    font-family: monospace;
    font-size: 1rem;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: var(--black);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--white);
}
/* end of scrollbar */



.body {
    padding-top: 80px;
}

section {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--dark);
}

.divider {
    width: 1%;
    margin-left: 49.5%;
    height: 1px;
    background-color: var(--white);
    transition: all 1s;
}

.expanded {
    width: 90%;
    margin-left: 5%;
}





.bold {
    font-weight: 600;
}