:root {
    background-color: var(--black);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: monospace;
    font-size: 1rem;
    overflow-x: hidden;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0px;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 100vh;
    background: var(--dark);
    z-index: 1000;
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 0;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: gradient 5s linear infinite;
    z-index: 1002;
    box-shadow: 5px 0 20px 1px var(--white);
}
@keyframes gradient {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}
/* end of scrollbar */



.body {
    padding-top: 80px;
}

section {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--dark);
    overflow-y: hidden;
}

.divider {
    width: 1%;
    margin-left: 49.5%;
    height: 1px;
    background-color: var(--white);
    transition: all 1s;
    z-index: 2;
}

.expanded {
    width: 90%;
    margin-left: 5%;
}

.locator {
    position: relative;
    top: -70px;
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.9);
}


.bold {
    font-weight: 600;
}