:root {
    background-color: var(--dark);
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: var(--black);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--dark);
}
/* end of scrollbar */



.body {
    padding-top: 80px;
}

section {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--dark);
}

.divider {
    width: 94%;
    margin-left: 3%;
    height: 1px;
    background-color: var(--white);
}




.bold {
    font-weight: 600;
}